body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: ivory;
}

#mvmLog {
    height: 100px;
    width: 100px;
}

.cbranding {
    height: 25px;
    background-image: linear-gradient(darkgreen, green, rgb(172, 172, 9), rgb(241, 241, 8), rgb(177, 11, 11), red);
}

.foot {
    color: white;
    margin-right: 5px;
}

.social li {
    list-style: none;
}

ul li a {
    margin: 0 8px;
    padding: 8px;
    font-size: 1.2em;
}

ul li a:hover {
    margin: -2px;
    background: white;
}

.jumbotron {
    height: 800px;
    background-color: rgb(236, 243, 241);
}

.jumbocontainer {
    margin-top: 10%;
    align-content: center;
}

#jumbohead {
    font-weight: 900;
    font-family: 'Krona One', 'Zen Dots', sans-serif, cursive;
    text-align: center;
    background-image: url(resources\images\image-1.jpg);
}

#jumbopara {
    text-align: center;
    font-weight: 700;
}

#ittraining {
    font-weight: 800;
    color: rgb(175, 175, 84);
}

.sectionhead {
    margin: 10px;
    padding-bottom: 10px;
}

.line {
    width: 10%;
    padding-top: 10px;
    border-bottom: 4px solid rgb(109, 24, 24);
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */


/*
flip card
*/

.card-flip>div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

.social li i {
    margin-top: 5px;
}

.social a i {
    margin-top: 15px;
    margin-right: 40px;
}


/*medium device media query*/

@media screen and (max-width: 992px) {
    #mylogo {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 992px) {
    .logoName {
        font-size: .7em;
        width: 200px;
    }
}

@media screen and (max-width: 992px) {
    ul li a {
        margin: 0 5px;
        padding: 5px;
        font-size: .8em;
        line-height: 14px;
    }
}


/*small device media query*/

@media screen and (max-width: 768px) {
    #mylogo {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 768px) {
    ul li a {
        margin: 0 5px;
        padding: 5px;
        font-size: .7em;
        line-height: 12px;
        /*???*/
    }
}

@media screen and (max-width: 768px) {
    .mkmain h1 {
        line-height: 60px;
        vertical-align: middle;
        text-align: center;
        font-size: 2em;
    }
}